.radio_button{
    margin-bottom: 0.5rem;
    text-align: right;
    margin-top: 1rem;
    margin-right: 20px;
    font-weight: bolder;
    font-size: large;
}

.radio-inline{
  margin-right: 15px; 
}